LOOPSCALE_API_BASE_URL=https://tars.loopscale.com/v1
JUPITER_PRICE_API_BASE_URL=https://lite-api.jup.ag/price/v3
LOOPSCALE_UPSTREAM_TIMEOUT_MS=8000
LOOP_QUOTE_TTL_MS=30000
QUOTE_RATE_LIMIT_WINDOW_MS=60000
QUOTE_RATE_LIMIT_MAX=30
CREATE_RATE_LIMIT_WINDOW_MS=60000
CREATE_RATE_LIMIT_MAX=10
LOANS_RATE_LIMIT_WINDOW_MS=60000
LOANS_RATE_LIMIT_MAX=30
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com